<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <table  class="table">
        <thead>
        <tr>
            <th scope="col">Name </th>
            <th scope="col">Surname </th>
            <th scope="col">Username </th>
            <th scope="col">Skill </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer: ${customers}">
            <th th:text="${customer.user.name}"></th>
            <td th:text="${customer.user.name}"></td>
            <td th:text="${customer.user.username}"></td>
            <td th:text="${customer.skill.name}"></td>
        </tr>

        </tbody>
    </table>
</div>



</html>