<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div class="d-flex">
        <div th:each="vacancyDto: ${vacancyDtos}" >
            <div class="card m-2 border border-warning" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="${vacancyDto.title}" class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Kapital Bank</h6>
                    <p th:text="${vacancyDto.description}" class="card-text"></p>
                    <p th:text="${vacancyDto.requirement}"></p>
                    <!--<a type="button" href="#" class="btn btn-info">See the Applicants</a>-->
                    <br><br>
                    <a th:href="@{/home/apply/{id}(id=${vacancyDto.id})}" type="button" class="btn text-primary">Apply</a>
                </div>
            </div>
        </div>
    </div>

</div>



</html>